
<div id='home_page_banner'>
  Credible, Affordable, Personal <br/>
  International College Counseling
</div>

<% if signed_in? %>
  
  wassup <%= current_user.name %>
  
<% else %>
  
  <%= link_to "Sign up now!", signup_path %>

<% end %>

<div>
  <p>
    u + us = moar skool
  </p>
</div>