
<div id='home_page_banner'>
  Credible, Affordable, Personal <br/>
  International College Counseling
</div>

<% if signed_in? %>
  
<% else %>
  
  <%= link_to "Sign up now!", signup_path %>

<% end %>

