

Pusher.channel_auth_endpoint = '/pusher/auth_endpoint'

window.PusherAPI = new (Backbone.Model.extend 
  api: new Pusher('<%= APP["pusher_api_key"] %>')
  
  subscribe: (channel) -> 
    pusher_channel = @api.subscribe channel
    new Channel({pusher_channel: pusher_channel})
  
  ready: (f) ->
    @api.connection.bind 'ready', f
)()


window.Channel = Backbone.Model.extend 
  
  initialize: (attrs) ->
    @pusher_channel = attrs.pusher_channel

  bind: (event, f) -> @pusher_channel.bind event, f
  
  members: -> @pusher_channel.members
  
  trigger: (event, data) ->
    event = "client-#{event}" # client prefix required for pusher
    console.log "trigger", event, data
    @pusher_channel.trigger event, data


window.OpenTokAPI = new (Backbone.Model.extend
  video_chat: (session_id) ->
    view = new ChatBox(id: session_id)
    $('#content').append view.render().el
    return
    
    apiKey = '1127'
    token = 'T1==cGFydG5lcl9pZD0xMTI3JnNpZz1hMzczM2JmOTJiODk2MTk1ZWE2MGFkNjY3YTJkYmYzMDY5MDVmMjQ2OnNlc3Npb25faWQ9MV9NWDR4TVRJM2ZuNVRZWFFnVG05MklERXdJREF3T2pBMU9qQTNJRkJUVkNBeU1ERXlmakF1T1RRNE5UY3dNMzQmY3JlYXRlX3RpbWU9MTM1MjUzNDcwNyZleHBpcmVfdGltZT0xMzUyNjIxMTA3JnJvbGU9cHVibGlzaGVyJm5vbmNlPTk4ODcxMw=='

    TB.setLogLevel(TB.DEBUG)

    session = TB.initSession(session_id)
    session.addEventListener 'sessionConnected', (data) -> sessionConnectedHandler(data)
    session.addEventListener 'sessionDisconnected', -> 
      ($ 'object').fadeOut()
    session.addEventListener 'streamCreated', (data) -> streamCreatedHandler(data)
    session.connect(apiKey, token)

    sessionConnectedHandler = (event) ->
      publishProps = {height:240, width:320}
      id = "stream-publisher"
      $('#content').append("<div id='#{id}' class='video_display'></div>")
      publisher = TB.initPublisher(apiKey, id, publishProps)
      session.publish(publisher)
      subscribeToStreams(event.streams)
      
      
    streamCreatedHandler = (event) -> subscribeToStreams(event.streams)

    subscribeToStreams = (streams) ->
      _.each streams, (stream) ->
        return if (stream.connection.connectionId == session.connection.connectionId)
        id = "stream-subscriber"
        $div = ($ "<div id='#{id}' class='video_display'></div>")
        $div.attr('id', id)
        ($ '#content').append($div)
        
        subscribeProps = {height:240, width:320}
        session.subscribe(stream, id, subscribeProps)
        
        view = new ChatBox()
        $('#content').append view.render().el
    
)()


window.BaseView = Backbone.View.extend
  template: (context) ->
    raw_template = @template_element.html()
    template_function = Handlebars.compile(raw_template)
    template_function(context)

