

Pusher.channel_auth_endpoint = '/pusher/auth_endpoint'

window.PusherAPI = new (Backbone.Model.extend 
  api: new Pusher('<%= APP["pusher_api_key"] %>')
  
  subscribe: (channel) -> 
    pusher_channel = @api.subscribe channel
    new Channel({pusher_channel: pusher_channel})
  
  ready: (f) ->
    @api.connection.bind 'ready', f
)()


window.Channel = Backbone.Model.extend 
  
  initialize: (attrs) ->
    @pusher_channel = attrs.pusher_channel

  bind: (event, f) -> @pusher_channel.bind event, f
  
  members: -> @pusher_channel.members
  
  trigger: (event, data) ->
    event = "client-#{event}" # client prefix required for pusher
    console.log "trigger", event, data
    @pusher_channel.trigger event, data


window.OpenTokAPI = new (Backbone.Model.extend
  video_chat: (session_id) ->
    ($ '#chat_window_container').remove()
    $div = $ "<div>connecting...</div>"
    ($ '#my_content').html ""
    ($ '#my_content').append $div
    apiKey = '1127'
    session_id = '1_MX4xMTI3fn5TdW4gTm92IDExIDA5OjA0OjM2IFBTVCAyMDEyfjAuNjc3OTc5MjN-'
    token = 'T1==cGFydG5lcl9pZD0xMTI3JnNpZz02YzFkNjIwYjgxZDI0YTc4ZDIwNzY0MDViMmU5NzhiMDk0OWM0YzIyOnNlc3Npb25faWQ9MV9NWDR4TVRJM2ZuNVRkVzRnVG05MklERXhJREE1T2pBME9qTTJJRkJUVkNBeU1ERXlmakF1TmpjM09UYzVNak4tJmNyZWF0ZV90aW1lPTEzNTI2NTM0NzgmZXhwaXJlX3RpbWU9MTM1MjczOTg3OCZyb2xlPXB1Ymxpc2hlciZub25jZT03NTQ2NQ=='

    TB.setLogLevel(TB.DEBUG)

    session = TB.initSession(session_id)
    session.addEventListener 'sessionConnected', (data) -> sessionConnectedHandler(data)
    session.addEventListener 'sessionDisconnected', -> 
      ($ 'object').fadeOut()
    session.addEventListener 'streamCreated', (data) -> streamCreatedHandler(data)
    session.connect(apiKey, token)

    sessionConnectedHandler = (event) ->
      $div.remove()
      publishProps = {height:85, width:80}
      id = "stream-publisher"
      $('#my_content').append("<div id='#{id}' class='video_display'></div>")
      publisher = TB.initPublisher(apiKey, id, publishProps)
      session.publish(publisher)
      subscribeToStreams(event.streams)
      
      
    streamCreatedHandler = (event) -> subscribeToStreams(event.streams)

    subscribeToStreams = (streams) ->
      _.each streams, (stream) ->
        return if (stream.connection.connectionId == session.connection.connectionId)
        $div.remove()
        id = "stream-subscriber"
        $div = ($ "<div id='#{id}' class='video_display'></div>")
        $div.attr('id', id)
        ($ '#my_content').append($div)
        
        subscribeProps = {height:(240*(2/3)), width:(320*(2/3))}
        session.subscribe(stream, id, subscribeProps)
        
        
        $('#chat_window_container').fadeOut()
        
        view = new CollaborationView()
        $('#my_content').append view.render().el
        
        view = new ChatBox(room_id: "blah")
        $('#my_content').append view.render().el
        
        $('#my_content').append "<div class='clear'></div>"
    
)()


window.BaseView = Backbone.View.extend
  template: (context) ->
    raw_template = @template_element.html()
    template_function = Handlebars.compile(raw_template)
    template_function(context)

